
body {
    font-size: 14px;
}
.navbar-brand{
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.8rem;
}

.nav-item .active {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

.nav-pills {
    background-color: #6c757d;
}

.nav-pills .nav-link {
    color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #343a40;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: #505560;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #343a40;
}

.dropdown-menu {
    color: #fff;
    background-color: #6c757d;
}

.table th,
.table td {
    padding: 0.5rem 0.25rem;
    white-space: nowrap;
}

.formtext {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}

.drag-upload-div {
    border: 2px dotted #999;
    border-radius: 15px;
    text-align: center;
}

